<div>

  <form class="editPackageForm hidden" action="/packages/edit" method="post">

  <label for="editPackageContent">Package contents</label>  
    <select multiple="multiple" name="webmenu" id="webmenu" class="editPackageContent">
      <option value="fruit and veg" data-image="icons/icon_calendar.gif">Fruit and veg</option>
      <option value="meat and fish" data-image="icons/icon_cart.gif">Meat and fish</option>
      <option value="dairy and eggs" data-image="icons/icon_cd.gif">Dairy and eggs</option>
      <option value="baked goods" data-image="icons/icon_cd.gif">Baked goods</option>
      <option value="Staples" data-image="icons/icon_games.gif">Staples</option>
    </select>

    <label for="editPreferredTime">Preferred collection time</label>
    <select multiple="multiple" class="editPreferredTime">
      <option value="morning">Morning</option>
      <option value="afternoon">Afternoon</option>
      <option value="evening">Evening</option>
    </select>

  <textarea class="editPackageNote" rows="8"></textarea>

  <button type="submit">Update Package</button>

  <input type="hidden" class="editPackageId" name="name" placeholder="Package ID">

  </form>

  <button type="button" class="deletePackageButton hidden">Archive Package</button>

</div>
