<img src="" height="50%" width="40%">

<form method="post" action="/edit-user">

    <input type="text" name="user[username]" placeholder="Username">

    <input type="email" name="user[email]" placeholder="Username">

    <input type="text" name="user[avatar]" placeholder="Avatar">

    <button type="submit">Edit</button>

</form>
