<div class="packageForm">

  <form class="editPackageForm" action="/packages/edit" method="post">


  <select multiple="multiple" name="webmenu" id="webmenu" class="packageContent">
    <option value="fruit and veg" data-image="icons/icon_calendar.gif">Fruit and veg</option>
    <option value="meat and fish" data-image="icons/icon_cart.gif">Meat and fish</option>
    <option value="dairy and eggs" data-image="icons/icon_cd.gif">Dairy and eggs</option>
    <option value="baked goods" data-image="icons/icon_cd.gif">Baked goods</option>
    <option value="Staples" data-image="icons/icon_games.gif">Staples</option>
  </select>

  <input type="textarea" name="package[note]" placeholder="Notes" class="packageNote">
  <input type="text" name="package[contact]" placeholder="Contact details" class="package[contact]">
  <input type="text" class="editPackagePostcode" placeholder="Package Postcode">
  <button type="submit">Update the package</button>

</form>