<div>

  <form class="editPackageForm hidden" action="/packages/edit" method="post">

    <select multiple="multiple" name="webmenu" id="webmenu1" class="image-picker show-html editPackageContent">
      <option data-img-src="/food-icons/png/fruit-1.png" value="fruit and veg">Fruit and Veg</option>
      <option data-img-src="/food-icons/png/food-1.png" value="meat and fish">Meat and Fish</option>
      <option data-img-src="/food-icons/png/food-6.png" value="dairy and eggs">Dairy and Eggs</option>
      <option data-img-src="/food-icons/png/food-5.png" value="baked goods">Baked Goods</option>
      <option data-img-src="/food-icons/png/food-7.png" value="staples">Staples</option>
    </select>

    <label for="editPreferredTime">Preferred collection time</label>
    <select multiple="multiple" class="editPreferredTime">
      <option value="Morning">Morning</option>
      <option value="Afternoon">Afternoon</option>
      <option value="Evening">Evening</option>
    </select>

  <textarea class="editPackageNote" rows="8"></textarea>
  <input name="package[contact]" placeholder="Contact Details" class="editPackageContact">

  <button type="submit">Update Package</button>

  <input type="hidden" class="editPackageId" name="name" placeholder="Package ID">

  </form>

  <button type="button" class="deletePackageButton hidden">Archive Package</button>

</div>
