<form class="userLocationForm hidden" action="/addLocation" method="post">
  <input  class="userPostcode loginbutton" type="text" name="userPostcode" placeholder="Please enter postcode of current location">
  <button class="loginbutton" type="submit">submit</button>
</form>
