<form class="userLocationForm hidden" action="/addLocation" method="post" autocomplete="off">
  <input type="text" class="userPostcode" name="userPostcode" placeholder="Please enter postcode of current location" autofocus>
  <button type="submit">submit</button>
</form>
