<form class="userLocationForm hidden" action="/addLocation" method="post">
  <input type="text" class="userPostcode" name="userPostcode" placeholder="Please enter postcode of current location">
  <button type="submit">submit</button>
</form>
