<html>
<head>
  <title>Login</title>
</head>
<body>
<form method="post" action="/login">

    <label for="user[username]">Username</label>
    <input type="text" name="user[username]">

    <label for="user[password]">Password</label>
    <input type="password" name="user[password]">

    <button type="submit">Submit</button>

</form>
 
</body>
</html>