<form class="loginForm" method="post" action="/login">

    <input type="text" name="user[username]" placeholder="Username">

    <input type="password" name="user[password]" placeholder="Password">

    <button type="submit">Log In</button>

</form>

<a href="#" class="linkToRegister">Not signed up? Register!</a>
