<form class="loginForm" method="post" action="/login">

    <input  class="loginbutton" type="text" name="user[username]" placeholder="Username">

    <input class="loginbutton" type="password" name="user[password]" placeholder="Password">

    <button class="loginbutton" type="submit">Log In</button>

</form>

<a href="#" class="linkToRegister">Not signed up? Register!</a>
