
<div class ="menuContainer">
  <button class="navbarButton package-link">create package</button>
  <button class="navbarButton manageDonationsLink">manage packages</button>
  <button class="navbarButton userEditLink">edit user profile</button>
</div>
