
<div class ="menuContainer">
  <button class="navbarButton package-link">Create Donation</button>
  <button class="navbarButton">Manage Donation</button>
  <button class="navbarButton">Edit user profile</button>
</div>

