
<div class ="menuContainer">
  <button class="navbarButton package-link">Create Donation</button>
  <button class="navbarButton manageDonationLink">Manage Donation</button>
  <button class="navbarButton userEditLink">Edit user profile</button>
</div>

