
<div class="packageForm" >
  <form>
   <select multiple="multiple" name="webmenu" id="webmenu">
       <option value="fruit and veg" data-image="icons/icon_calendar.gif">Fruit and veg</option>
       <option value="meat and fish" data-image="icons/icon_cart.gif" name >Meat and fish</option>
       <option value="dairy and eggs" data-image="icons/icon_cd.gif">Dairy and eggs</option>
       <option value="baked goods" data-image="icons/icon_cd.gif">Baked goods</option>
      <option value="Staples" data-image="icons/icon_games.gif">Staples</option>
     </select>

     <input type="textarea" name="package[note]" placeholder="Username">
  </form>
</div>