<div class="packageForm" >

  <form class="createPackageForm" action="/packages" method="POST">
    <select multiple="multiple" name="webmenu" id="webmenu" class="image-picker show-html">
      <option data-img-src="/food-icons/png/fruit-1.png" value="fruit and veg"></option>
      <option data-img-src="/food-icons/png/food-1.png" value="meat and fish"></option>
      <option data-img-src="/food-icons/png/food-6.png" value="dairy and eggs"></option>
      <option data-img-src="/food-icons/png/food-5.png" value="baked goods"></option>
      <option data-img-src="/food-icons/png/food-7.png" value="staples"></option>
    </select>
    
  <label for="preferredTime">Preferred collection time</label>
    <select multiple="multiple" class="preferredTime">
      <option value="morning">Morning</option>
      <option value="afternoon">Afternoon</option>
      <option value="evening">Evening</option>
    </select>

    <!-- <input type="textarea" name="package[note]" placeholder="Notes" class="packageNote"> -->
    <textarea name="package[note]" placeholder="Notes" class="packageNote" rows="8"></textarea>
    <input type="text" name="package[contact]" placeholder="Contact details" class="packageContact">
    <input type="text" class="newPackagePostcode" placeholder="Package Postcode">
    <button type="submit">Submit the new package</button>
  </form>
</div>
