<form class="registerForm hidden" method="post" action="/register" autocomplete="off">

    <input type="text" name="user[username]" placeholder="Username">

    <input type="email" name="user[email]" placeholder="Email">

    <input type="password" name="user[password]" placeholder="Password">

    <input type="password" name="user[passwordConfirmation]" placeholder="Password Confirmation">

    <button type="submit">Register</button>

</form>

<a href="#" class="linkToLogin hidden">Already a member? Log in</a>
