<form method="post" action="/register">

    <input type="text" name="user[username]" placeholder="Username">
  
    <input type="email" name="user[email]" placeholder="Email">

    <input type="text" name="user[avatar]" placeholder="Avatar">

    <input type="password" name="user[password]" placeholder="Password">

    <input type="password" name="user[passwordConfirmation]" placeholder="Password Confirmation">

    <button type="submit">Submit</button>

</form>
