html, body {
  height: 100%; margin: 0; padding: 0;
}

.mediaIconsDiv {
  position: absolute;
  height: 100px;
  // border: 5px solid red;
  top: 0;
  right: 15px;
  z-index: 1;
}

.infoWindow {
  margin-left: 0 !important;
  width: 250px;
  // height: 200px;
  background-color: rgba(255,255,255,.8);
  margin-left: 55px !important;
  margin-top: 20px !important;
  padding: 10px !important;
  font-family: inherit !important;
}

.infoWindowTopBar {
  //  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin-left: -10px !important;
  margin-right: -10px !important;
  margin-top: -10px !important;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
  text-align: center;
  opacity: 0.8;
}

.gm-style-iw {
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}

.logo {
  margin: 10px 20px;
}

.socialIcon {
  width: 35px;
  margin: 5px;
  margin-top: 15px;
  transition:all 1s ease-out;
}

.socialIcon:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#map {
  height: 100%;
}

select{
  display: block;
  width: 100%;
}

textarea{
  width: 100%;
}

.formContainer {
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 1;
  margin-top: 15vh;
  width: 300px;
  height: 70vh;
  background: white;
  border-radius: 10px;
  text-align: center;
  // border: 1px solid red;
  // overflow: scroll;
}

.loginContainer {
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 3;
  /*margin-top: 37vh;*/
  margin-left: 37vw;
  width: 300px;
  /*height: 200px;*/
  background: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid blue;
}



//  .logoutContainer {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   margin-right: 37vw;
// }

.logoutbtn {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: inherit;
  background: white;
}

form {
  margin: 10px;
}

input {
  width: 100%;
  margin: 0;
  /*padding: 10px !important;*/
}

.navbarButton {
  width: 100%;
  margin-top: 5px;
  // height: calc(25% - 5px);
}

.back {
  color: green !important;
}


#loadingImage{
  background: url('../food-icons/groceries.jpeg') no-repeat center fixed;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
}


button {
  width: 100%;
  margin: 0;
}


.image-picker {
  display: block;
}


.alert{
  z-index: 3;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 10px;
  position: absolute;
  margin-left: 38vw;
  border-radius: 10px;
  text-align: center;
  border: 1px solid blue;
  padding: 10px;
  font-size: 28px;

}

@font-face {
    font-family: another shabby;
    src: url(http://www.1001fonts.com/another-shabby-font.html);
    font-weight:400;
}

h1 {
  z-index: 3;
  font-family: another shabby;
  font-size: 100px;
  text-align: center;
}

p {
  z-index: 3;
  text-align: center;
  font-size: 18px;
}

#splash-logo {
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 120px;
  position: absolute;
  border-radius: 10px;
  text-align: center;
  border: 1px solid blue;
  padding: 15px;
  width: 500px;
  height: auto;
  margin-left: 580px;
}
