html, body {
  height: 100%; margin: 0; padding: 0;
}

.mediaIconsDiv {
  position: absolute;
  height: 100px;
  // border: 5px solid red;
  top: 0;
  right: 15px;
  z-index: 1;
}

.info-window {
  // color: pink;
  border: 1px solid blue;
  margin-left: 0 !important;
  width: 300px;
  height: 200px;
}

.logo {
  margin: 10px 20px;
}

.infoWindowTopBar {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
   text-align: center;
}

.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}

.socialIcon {
  width: 35px;
  margin: 5px;
  margin-top: 15px;
  transition:all 1s ease-out;
}

.socialIcon:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

.hidden {
  display: none;
}

#map {
  height: 100%;
}

select{
  display: block;
  width: 100%;
}

textarea{
  width: 100%;
}

.formContainer {
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 1;
  margin-top: 15vh;
  width: 300px;
  height: 70vh;
  background: white;
  border-radius: 10px;
  text-align: center;
  // border: 1px solid red;
  // overflow: scroll;
}

.loginContainer {
  position: absolute;
  top: 0;
  left: 1vw;
  z-index: 1;
  /*margin-top: 37vh;*/
  margin-left: 37vw;
  width: 300px;
  /*height: 200px;*/
  background: white;
  border-radius: 10px;
  text-align: center;
  border: 1px solid blue;
}

//  .logoutContainer {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   margin-right: 37vw;
// }

.logoutbtn {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: inherit;
  background: white;
}

form {
  margin: 10px;
}

input {
  width: 100%;
  margin: 0;
  /*padding: 10px !important;*/
}

.navbarButton {
  width: 100%;
  margin-top: 5px;
  // height: calc(25% - 5px);
}

button {
  width: 100%;
  margin: 0;
}

.image-picker {
  display: block;
}
